<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
  <script src="../2.2.2/vue.min.js"></script>
  <style>
    .class1{
      background: #444;
      color: #eee;
    }
    </style>
</head>

<body>


    <div id="main">
      <p>{{ message }}</p>
      <p v-html="message"></p>  
      
      <!-- split() 方法用于把一个字符串分割成字符串数组。
      reverse() 方法用于颠倒数组中元素的顺序。
      join() 方法用于把数组中的所有元素放入一个字符串。 -->
      
      {{ message.split('').reverse().join('') }}
      <label for="r1">修改颜色</label>
      <input type="checkbox" v-model="use" id="r1">
      
      <div v-bind:class="{'class1': use}">
        v-bind:class 指令
      </div>
      <!-- 指令是带有 v- 前缀的特殊属性。指令用于在表达式的值改变时，将某些行为应用到 DOM 上 -->
      <h1 v-if="use">这是分割线，你看到我了--------------</h1>

      <!-- 参数在指令后以冒号指明。例如， v-bind 指令被用来响应地更新 HTML 属性： -->
      <pre><a v-bind:href="url">点击百度</a></pre>

      <!-- 在 input 输入框中我们可以使用 v-model 指令来实现双向数据绑定： -->
      <p>{{text}}</p>
      <input v-model="text">
   <h4>-------下面是反向文本输出-----(●ˇ∀ˇ●)</h4>
    <br>
     <p>{{cont.split('').reverse().join('')}}</p>
     <input v-model="cont">
     <!-- 按钮的事件我们可以使用 v-on 监听事件，并对用户的输入进行响应。 -->
     <button v-on:click="reverseMessage">反转字符串</button>

     <!-- toString() 方法可把一个 Number 对象转换为一个字符串，并返回结果。
     charAt() 方法可返回指定位置的字符。
     toUpperCase() 方法用于把字符串转换为大写。
     slice() 方法可从已有的数组中返回选定的元素。 -->

     
    </div>

  <script>
    new Vue({
      el: '#main',
      data: {
        message: 'Hello Vue.js!',
        use:true,
        url:'https://www.baidu.com',
        text:'这是文本,填写修改,双向的',
        cont:'我爱猫猫',
      },
      methods:{
        reverseMessage:function(){
          this.cont=this.cont.split('').reverse().join('')
        }
      }
    })

  




  </script>
</body>

</html>